@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #F0F0F0;
  color: #121212;
  overflow-x: hidden;
}

/* Custom scrollbar for Webkit */
::-webkit-scrollbar {
  width: 16px;
  background: #121212;
}
::-webkit-scrollbar-thumb {
  background: #CCFF00;
  border: 4px solid #121212;
}
::-webkit-scrollbar-thumb:hover {
  background: #FF00FF;
}

/* Selection Style */
::selection {
  background: #121212;
  color: #CCFF00;
}
